body{
  text-align: center;
  background-color: rgb(10, 33, 44);
}
/*  */
footer{
  background-color: #07112c;
  color: White;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 30vh;
  margin-top: auto;
  font-size: 14px;
  justify-content: space-around;
 
}

footer div{
  margin-top: 10px;
}

#links-rodape{
  display: flex;
  flex-direction: column;
}
/*  */

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #07112c;
  padding: 12px;
  justify-content: space-around;
}

h1{
  color: #ffffff;
  font-size: 1.3em;
  margin: 10px;
}
a{
  margin: 3px;
  color: #ffffff;
  text-align: center;
  padding: 6px 9px;
  margin: 2px;
  border-radius: 10px;
  background-color: #1c7db6;
}
p{
  color: white;
}
a:hover{
  background-color: #a5c9f3;
  color:#0f172b;
  text-decoration: none;
}
.destaque {
  background-color: #ffffff;
}
.quiztext {
  background-color: #1c7db6;
  margin: 60px 692.5px;
  width: 500px;
  height: 350px;
  text-align: center;
  border-radius: 7px;
  padding: 10px;

}
button {
  width: 80%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #008CCC;
  color: white;
  margin: 7px;
}
.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}
.logocresce:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}